<h1>Welcome Aasdfasdfdmin</h1>
<!-- LIST OF ALL TAGS -->
<form action="/tags/new" method="post">
  <label for="tags">Add a tag:</label>
  <input type="text" name="tag" id="tag">
  <button type="submit">Add tag</button>
</form>
<h4>Tags:</h4>
<% if @tags %>
<ul>
  <% @tags.each do |tag| %>
  <li><%= tag.name %></li>
  <% end %>
</ul>
<% end %>
<!-- DELETE TAGS FORM -->
<form class="" action="/tags/delete" method="post">
<% if @tags %>
<h4>Delete Tags</h4>
  <input type="hidden" name="_method" value="delete">
  <label for="delete_tags">Select Tag:</label>
  <select class="" name="tag_id" id="tag_id">
    <% @tags.each do |tag| %>
    <option value="<%= tag.id %>"><%= tag.name %></option>
    <% end %>
  </select>
  <button type="submit" name="button">Delete</button>
  <% end %>
</form>

<!-- DELETE AN ACCOUNT -->
<form class="" action="/users/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <% if @users.any? %>
    <h4>Close an account</h4>
    <label for="users">Users</label>
    <select class="" name="user_id" id="user_id">
      <% @users.each do |user| %>
        <option value="<%= user.id %>"><%= user.first_name %> <%= user.last_name %></option>
        <% end %>
    </select>
    <% end %>
    <button type="submit">Close account</button>
</form>
