<header class="head-thirtytwo form-header">
</header>

<!-- USER PHOTO -->
<section class="profile-content">
  <div class="avatar edit user">
    <section class="left-column">
      <% if @user.photo.nil? %>
        <img src="/img/images.jpeg" alt="generic user photo" />
        <% else%>
            <img src="/img/<%= @user.photo %>.jpg" alt="user photo" />
        <% end %>

      <!-- GREETING -->
      <h1><%= @user.first_name %> <%= @user.last_name%></h1>

      <!-- USER RATING -->
      <h4>Rating:
      <% if @user.rating.nil? %>
      <% (5).times do %>
      <span id="grey_star" class="glyphicon glyphicon-star"></span>
      <% end %></h4>
      <% else %>
      <% (@user.rating).times do %>
      <span class="glyphicon glyphicon-star"></span>
      <% end %>
      <% end %>
      <form class="" action="/users/rating" method="post">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="user_id" value="<%= @user.id %>">
        <select class="" name="rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <button type="submit">Rate this User</button>

      </form>

      <!-- USER BIO -->
      <h4>Bio:</h4>
      <% if @user.bio %>
        <p><%= @user.bio %></p>
      <% end %>
    </section>
    <section class="right-column">
<!-- USER TRADE TAGS -->
      <h4><%= @user.first_name %>'s skills</h4>
      <% if @user.skills.any? %>
      <div class="skills">
        <ul>
          <% @user.skills.each do |skill| %>
          <li><%= skill.title %>
            <br>
            <h5>Details:</h5>
            <div id="description"><%= skill.description %></div>
            <h5>Tags:</h5>
            <ul>
              <% skill.tags.each do |tag| %>
              <li class="tag-name"><%= tag.name %></li>
              <% end %>
            </ul>
          </li>
          <% end %>
        </ul>
        <% end %>
      </div>
    </section>
    </div>
<!-- GRIDDED USER SKILLS (title and description are inside picture divs)-->

<section id="trades">
  <% if @user.skills.any? %>
      <% @user.skills.each do |skill| %>
      <hr>
      <hr>
      <div class="featured-image main">
        <img class="browse_img" src="/img/<%=skill.id%>.jpg" alt="<%=skill.id%>"/>
      </div>
        <form class="" action="/trades/verify" method="get">
          <p><strong><%= skill.title %></strong></p>
          <p><%= skill.description %></p>
            <input type="hidden" name="skill_id" value="<%= skill.id %>">
            <button type="submit">Propose Trade</button>
        </form>
      <% end %>
  <% end %>
</section>
</section>
