<header class="head-thirtyone form-header">
</header>

<section class="profile-content">
<div class="avatar">
  <% if @user.photo.nil? %>
  <img src="/img/images.jpeg" alt="generic user photo" />
  <% else%>
    <img src="/img/<%= @user.photo %>.jpg" alt="user photo" />
  <% end %>
  <!-- EDIT PROFILE -->
  <a href="/users/<%= @user.id %>/edit">Edit profile</a>

<!-- GREETING -->
<h1>Hello,  <%= @user.first_name %> <%= @user.last_name%></h1>

<!-- user rating -->
<div class="stars">
  <h4>My Rating:</h4>
  <% if @user.rating.nil? %>
  <% (5).times do %>
  <span id="grey_star" class="glyphicon glyphicon-star"></span>
  <% end %>
  <% else %>
  <% (@user.rating).times do %>
  <span class="glyphicon glyphicon-star"></span>
  <% end %>
  <% end %>
</div>

<!-- USER BIO -->
<section class="bio">
  <h4>Bio</h4>
  <% if @user.bio %>
  <p><%= @user.bio %></p>
  <% else%>
  <p>Your profile is missing a bio. <a href="/users/<%= @user.id %>/edit">Add one</a></p>
  <% end %>
</section>
  <hr>
</div>
<!-- LIST OF SKILLS -->
<section class="profile-row-one">
  <section class="list-of-skills">
    <h4>Services/Skills/Goods that I have to barter with:</h4>
    <% if @user.skills.any? %>

      <% @user.skills.each do |skill| %>
      <h4><%= skill.title %></h4>
        <ul>
          <% skill.tags.each do |tag| %>
          <li class="tag-name"><%= tag.name %></li>
          <% end %>
        </ul>

      <% end %>
    </ul>
    <% else %>
    <p>It looks like you haven't added any skills to trade. <a href="/users/<%= @user.id %>/edit">Get started</a></p>
    <% end %>
    <hr>
  </section>

<!-- USER INTERESTS -->
<section class="interest">
  <h4>Services and goods I want to barter for:</h4>
  <% if @user.tags.any? %>
  <ul>
    <% @user.tags.each do |tag| %>
    <li class="tag-name"><%= tag.name %></li>
    <% end %>
  </ul>
  <% else %>
  <p>What are you interested in trading for? <a href="/users/<%= @user.id %>/edit">Add Interests</a></p>
  <% end %>
    <hr>
  </section>
</section>
<section class="profile-row-two">
<!-- USER TRADES -->
    <% if @user.skills.any? %>
    <h4>My trades:</h4>
    <p>Please note that once a trade is agreed to, you are expected to fulfil the terms of the trade.</p>
      <% @user.skills.each do |skill| %>
      <% skill.trades.each do |trade| %>
      <div class="trade-offer">
      <form class="" action="/trades/update" method="post">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="trade_id" value="<%= trade.id %>">
        <input type="hidden" name="user_id" value="<%= @user.id %>">
        <ol>
          <p><strong>Trade details:</strong></p>
          <h5>Terms: <%= trade.terms%></h5>
          <h5>Deadline: <%= trade.deadline%></h5>
          <h5>Skills being swapped:</h5>
          <% trade.skills.each do |skill| %>
          <li><%= skill.title %></li>
          <% end %>
          <%if trade.agree? %>
          <strong><p>This trade is active!</p></strong>
        </form>
        <% else %>
        <strong><p>This trade is waiting for approval.</p></strong>
        <button type="submit">Accept trade</button>
      </form>
      <form class="" action="/trades/delete" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="trade_id" value="<%= trade.id %>">
        <input type="hidden" name="user_id" value="<%= @user.id %>">
        <button type="submit">Decline trade</button>
      </form>
      <% end %>
    </ol>
  </div>
    <% end %>
    <% end %>
    <% end %>
</section>
