

<section class="profile-content">
  <div class="avatar">
    <% if @user.photo.nil? %>
    <img src="/img/images.jpeg" alt="generic user photo" />
    <% else%>
      <img src="/img/<%= @user.photo %>" alt="user photo" />
    <% end %>
  <!-- GREETING -->
  <h1>Hello,  <%= @user.first_name %> <%= @user.last_name%></h1>
    <!-- USER RATING -->
  <div class="stars">
    <h4>My Rating:</h4>
    <% if @user.rating.nil? %>
    <% (5).times do %>
    <span id="grey_star" class="glyphicon glyphicon-star"></span>
    <% end %>
    <% else %>
    <% (@user.rating).times do %>
    <span class="glyphicon glyphicon-star"></span>
    <% end %>
    <% end %>
  </div>
  <!-- USER BIO -->
  <h4>Bio:</h4>
  <% if @user.bio %>
    <p><%= @user.bio %></p>
    <% else%>
    <p>Your profile is missing a bio. <a href="/users/<%= @user.id %>/edit">Add one</a></p>
  <% end %>
    <hr>
  </div>


  <!-- LIST OF SKILLS -->
  <section class="skill-list">
    <h4>My skills</h4>
    <% if @user.skills.any? %>
    <ul>
      <% @user.skills.each do |skill| %>
      <li><%= skill.title %>
        <ul>
          <% skill.tags.each do |tag| %>
          <li><%= tag.name %></li>
          <% end %>
        </ul>
      </li>
      <% end %>
    </ul>
    <% else %>
    <p>It looks like you haven't added any skills to trade. <a href="/skills/new">Get started</a></p>
    <% end %>
  </section>
  <section class="interest">
    <h4>Stuff I'm interested in:</h4>
    <% if @user.tags.any? %>
    <ul>
      <% @user.tags.each do |tag| %>
      <li><%= tag.name %></li>
    </ul>
    <% end %>
    <% else %>
    <p>What are you interested in trading for? <a href="/users/<%= @user.id %>/edit">Add Interests</a></p>
    <% end %>
  </section>
  <!-- USER INTERESTS -->
    <div class="edit-info">
      <!-- ADD SKILL -->
      <h4>Add a skill</h4>
      <form class="skill-form" action="/skills/add" method="post">
        <input type="hidden" name="user_id" value="<%= @user.id %>">
        <p>Add skills you have that you would like to trade with others. Be descriptive, and include your proficiency. Profiles with skill photos tend to get more trades.</p>
        <label for="skill_title">Skill Title:</label>
        <input type="text" name="skill_title" id="skill_title">
        <label for="skill_description">Skill Description:</label>
        <textarea name="skill_description" rows="8" cols="40"></textarea>
        <button type="submit">Add skill</button>
      </form>

      <!-- TAG YOUR SKILL -->
      <h4>Add tags to your skills</h4>
      <form class="add-tag-form" action="/skills/tags/new" method="post">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="user_id" value="<%= @user.id %>">
          <% if @user.skills.any? %>
            <select class="" name="skill_tag">
            <% @user.skills.each do |skill| %>
              <option value="<%= skill.id %>"><%= skill.title %></option>
            <% end %>
            </select>
          <% end %>
          <% if @tags %>
            <% @tags.each do |tag| %>
              <input type="checkbox" name="tag_id[]" id="tag_id[]" value="<%= tag.id %>"><%= tag.name %>
            <% end %>
          <% end %>
          <button type="submit">Add tag</button>
      </form>

      <!-- DELETE SKILL -->
      <% if @user.skills.any? %>
      <form class="" action="/skills/delete" method="post">
        <input type="hidden" name="user_id" value="<%= @user.id %>">
        <input type="hidden" name="_method" value="delete">
        <p>No longer want to offer this skill?</p>
        <label for="skill_delete">Delete my skill</label>
        <select class="" name="skill_delete" id="skill_delete">
          <% @user.skills.each do |skill| %>
          <option value="<%= skill.id %>"><%=skill.title %></option>
          <% end %>
        </select>
        <button type="submit">Delete</button>
      </form>
      <% end %>
    </div>
  </section>
