<% if @user.photo.nil? %>
  <img src="/img/images.jpeg" alt="generic user photo" />
  <% else%>
    <img src="/img/<%= @user.photo %>" alt="user photo" />
  <% end %>

<h1>Hello,  <%= @user.first_name %> <%= @user.last_name%></h1>

<h4>My Rating:</h4>
<% if @user.rating.nil? %>
<% (5).times do %>
<span id="grey_star" class="glyphicon glyphicon-star"></span>
<% end %>
<% else %>
<% (@user.rating).times do %>
<span class="glyphicon glyphicon-star"></span>
<% end %>
<% end %>

<h4>Bio:</h4>
<% if @user.bio %>
  <p><%= @user.bio %></p>
<% end %>
<h5>Edit Your Bio:</h5>
<form class="" action="/users/edit/bio" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="user_id" value="<%= @user.id %>">
  <label for="bio">Details:</label>
  <textarea name="bio" id="bio" rows="8" cols="40"></textarea>
  <button type="submit">Update Bio</button>
</form>

<h4>Stuff I'm interested in:</h4>
<% if @user.tags.any? %>
  <ul>
    <% @user.tags.each do |tag| %>
    <li><%= tag.name %></li>
  </ul>
  <% end %>
<% end %>
<form class="" action="/users/edit/interests" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="user_id" value="<%= @user.id %>">
  <label for="tags_want">What type of trades interest you?</label>
  <select class="" name="tags_want">
    <option value="option">option</option>
  </select>
</form>

<h4>My skills</h4>
<% if @user.skills.any? %>
<ul>
  <% @user.skills.each do |skill| %>
  <li><%= skill.description %>
    <ul>
      <% skill.tags.each do |tag| %>
      <li><%= tag.name %></li>
      <% end %>
    </ul>
  </li>
</ul>
<% end %>
<% else %>
<p>It looks like you haven't added any skills to trade. <a href="/skill/new">Get started</a></p>
<% end %>
