<header class="head-two form-header">
</header>
<section class="profile-content">
  <div class="avatar edit">
    <!-- USER PHOTO -->
    <section class="left-column">
      <% if @user.photo.nil? %>
      <img src="/img/images.jpeg" alt="generic user photo" />
      <% else%>
      <img src="/img/<%= @user.photo %>" alt="user photo" />
      <% end %>
      <!-- RETURN TO PROFILE LINK -->
      <a href="/users/<%= @user.id %>">Return to profile</a>
      <!-- GREETING -->
      <h1>Hello,  <%= @user.first_name %> <%= @user.last_name%></h1>

      <!-- USER RATING -->
      <div class="stars">
        <h4>My Rating:</h4>
        <% if @user.rating.nil? %>
        <% (5).times do %>
        <span id="grey_star" class="glyphicon glyphicon-star"></span>
        <% end %>
        <% else %>
        <% (@user.rating).times do %>
        <span class="glyphicon glyphicon-star"></span>
        <% end %>
        <% end %>
      </div>
      <!-- USER BIO -->
      <h4>Bio:</h4>
      <% if @user.bio %>
      <p><%= @user.bio %></p>
      <% end %>
    </section>

    <!-- LIST OF SKILLS -->
      <section class="right-column">
        <section class="list-of-skills">
          <h4>Services/Skills/Goods that I have to barter with</h4>
          <% if @user.skills.any? %>
          <ul>
            <% @user.skills.each do |skill| %>
            <li><%= skill.title %>
              <ul>
                <% skill.tags.each do |tag| %>
                <li class="tag-name"><%= tag.name %></li>
                <% end %>
              </ul>
            </li>
            <% end %>
          </ul>
          <% else %>
          <p>It looks like you haven't added any skills to trade.</p>
          <% end %>
        </section>
      </section>
      </div>

  <!-- EDIT USER BIO -->
  <div class="edit-info">
    <h1>EDIT YOUR PROFILE</h1>
    <div class="row-one">
      <form class="profile-form" action="/users/edit/bio" method="post">
          <h4>Edit Your Bio:</h4>
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="user_id" value="<%= @user.id %>">
        <!-- <label for="bio">Details:</label> -->
        <textarea name="bio" id="bio" rows="8" cols="40"></textarea>
        <button type="submit">Update Bio</button>
      </form>

    <!-- ADD SKILL -->
      <form class="skill-form" action="/skills/add" method="post">
        <h4>Add a skill</h4>
        <input type="hidden" name="user_id" value="<%= @user.id %>">
        <p>Add skills you have that you would like to trade with others. Be descriptive, and include your proficiency. Profiles with skill photos tend to get more trades.</p>
        <label for="skill_title">Skill Title</label>
        <input type="text" name="skill_title" id="skill_title">
        <label for="skill_description">Skill description:</label>
        <textarea name="skill_description" rows="8" cols="40"></textarea>
        <button type="submit">Add skill</button>
      </form>
    </div>

    <!-- TAG YOUR SKILL -->
    <div class="row-two">
      <div class="column-one">
        <% if @tags.any? %>
        <h4>Add tags to your skills</h4>
        <form class="add-tag-form" action="/skills/tags/new" method="post">
          <input type="hidden" name="_method" value="patch">
          <input type="hidden" name="user_id" value="<%= @user.id %>">
            <% if @user.skills.any? %>
            <span><select class="" name="skill_tag">
              <% @user.skills.each do |skill| %>
              <option value="<%= skill.id %>"><%= skill.title %></option>
              <% end %>
            </select></span>
            <% end %>
            <% if @tags %>
            <% @tags.each do |tag| %>
            <input type="checkbox" name="tag_id[]" id="tag_id[]" value="<%= tag.id %>"><%= tag.name %>
            <% end %>
            <span class="tag"><button type="submit">Add Tag</button></span>
            <% end %>
          </form>
        <% end %>

        <!-- DELETE SKILL -->
        <h4>No longer want to offer this skill?</h4>
        <% if @user.skills.any? %>
          <form class="delete-form" action="/skills/delete" method="post">
            <input type="hidden" name="user_id" value="<%= @user.id %>">
            <input type="hidden" name="_method" value="delete">

            <label for="skill_delete"></label>
            <div class="form-button">
              <select class="" name="skill_delete" id="skill_delete">
                <% @user.skills.each do |skill| %>
                <option value="<%= skill.id %>"><%=skill.title %></option>
                <% end %>
              </select>
              <button type="submit">Delete</button>
            </div>
            <hr>
          </form>
        <% end %>
      </div>

      <div class="column-two">
        <h1>What type of trades interest you</h1>
        <% if @user.tags.any? %>
          <ul>
            <% @user.tags.each do |tag| %>
            <li class="tag-name"><%= tag.name %></li>
          <% end %>
          </ul>
        <% end %>

    <!-- ADD USER INTERESTS -->
    <form class="add-user-interest" action="/users/edit/tags/want" method="post">
      <input type="hidden" name="_method" value="patch">
      <input type="hidden" name="user_id" value="<%= @user.id %>">
      <label for="tags_want"></label>
      <% if @tags %>
      <div class="form-button">
        <select class="" name="tag_want" id="tag_want">
          <% @tags.each do |tag| %>
          <option value="<%= tag.id %>"><%= tag.name %></option>
          <% end %>
        </select>
        <% end %>
        <button type="submit">Add interest</button>
      </div>
    </form>

    <!-- DELETE INTERESTS -->
    <form class="delete-form" action="/users/delete/tags/want" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="user_id" value="<%= @user.id %>">
      <label for="tags_want_delete">Delete Interests:</label>
      <% if @user.tags %>
      <div class="form-button">
        <select class="" name="tag_want_delete" id="tag_want_delete">
          <% @user.tags.each do |tag| %>
          <option value="<%= tag.id %>"><%= tag.name %></option>
          <% end %>
        </select>
        <% end %>
        <button type="submit">Delete</button>
      </div>
    </form>
  </div>


  </div>

    </div>

  </div>
</section>
